@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 17 24% 15%;
    --card: 0 0% 100%;
    --card-foreground: 17 24% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 17 24% 15%;
    --primary: 122 39% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 122 25% 75%;
    --secondary-foreground: 17 24% 15%;
    --muted: 0 0% 96%;
    --muted-foreground: 17 24% 40%;
    --accent: 122 25% 75%;
    --accent-foreground: 17 24% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 122 39% 49%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
